
<form method="post" action="login">
  <div class="d-flex align-items-center">
    {% if error is defined and error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
      <div class="d-flex flex-wrap align-items-center col-10">

        <div class="col-12 col-lg-6">
        {% if last_username is defined %}
          <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        {% else %}
          <input type="text" placeholder="Username" name="username" id="inputUsername" class="form-control" required autofocus>
        {% endif %}
        </div>

        <div class="col-12 col-lg-6">
          <input type="password" placeholder="Password" name="password" id="inputPassword" class="form-control" required>
        </div>

      </div>

      <button class="btn btn-lg btn-primary col-2" type="submit">Login</button>
    {% endif %}


    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
  </div>
</form>
