{% extends 'base.html.twig' %}

{% block body %}
  <h2 class="text-center">Add Book</h2>


{% block forms %}

<div id='forms' class='d-flex flex-column align-items-center'>
  {{ form_start(addbookForm, { attr: {'action': "AddBook"} }) }}
      {{ form_row(addbookForm.name, { attr: {'class': "form-control my-2", placeholder: "name"} }) }}
      {{ form_row(addbookForm.reference, { attr: {'class': "form-control my-2", placeholder: "reference"} }) }}


      {# //added after #}
      {{ form_row(addbookForm.writtingDate, { attr: {'class': "form-control my-2"} }) }}
      {{ form_row(addbookForm.editionDAte, { attr: {'class': "form-control my-2"} }) }}
      {{ form_row(addbookForm.title, { attr: {'class': "form-control my-2", placeholder: "title"} }) }}
</div>

{% endblock %}

  {# //Centrer le bouton #}
      <button id="buttonadd"  type="submit" class="d-flex align-items-center">AddBook</button>
  {{ form_end(addbookForm) }}

{% endblock %}
